body {
    margin: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hidden {
    display: none;
}
  
.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.6);
backdrop-filter: blur(3px);
z-index: 5;
}

.congrats {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: rgb(247, 214, 219);
    /* display: flex */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    border-radius: 5px;
}

.congratsWord {
    font-size: 50px;
    margin: 2% 29%;
}

.helpWord {
    font-size: 20px;
    text-align: center;
    margin: 3% 5% 3%;
}

.enterWord {
    font-size: 20px;
    text-align: center;
    margin: 4% 5% 0%;
}

.enterBox {
    width: 87%;
    height: 4vh;
    border: 2px solid fuchsia;
    margin: 1.2% 5%;
    padding-left: 2%;
    border-radius: 15px;
}

.submitButton {
    width: 88.5%;
    height: 5vh;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    position: absolute;
    margin: 0% 5% 0%;
    border-radius: 15px;
    color: fuchsia;
    cursor: pointer;
}

.submitButton:hover {
    width: 97%;
    margin: 0.5% 0.6% 0%;
}

.submitWord {
    margin: 0.8% 43% 0%;
}

.seeScoresWord {
    margin: 11% 5% 1%;
    font-size: 20px;
    text-align: center;
}

.scoresButton {
    /* margin: 1% 6%;
    width: 88%;
    height: 25px; */
    width: 88.5%;
    height: 5vh;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    position: absolute;
    margin: 0% 4.8% 1%;
    border-radius: 15px;
    color: fuchsia;
    cursor: pointer;
}

.scoresButton:hover {
    width: 97%;
    margin: 0.5% 0.6% 0%;
}

.scoreWord {
    margin: 0.7% 0% 0% 39%;
}

.winningImage {
    margin: 6% 6% 4%;
    /* width: 150px; */
}

.overlayOver {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: rgb(247, 214, 219);
    /* display: flex */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    border-radius: 15px;
}

.gameOverWord {
    margin: 2% 0% 2% 25%;
    font-size: 50px;
}

.failedWord {
    margin: 3% 5%;
    font-size: 20px;
    text-align: center;
}

.restartWord {
    font-size: 20px;
    text-align: center;
    margin: 4% 5% 0%;   
}

.restartButton {
    width: 88.5%;
    height: 5vh;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    position: absolute;
    margin: 1.5% 4.8% 1%;
    border-radius: 15px;    
    color: fuchsia;
    cursor: pointer;
}

.restartButton:hover {
    width: 97%;
    margin: 2% 0.6% 0%;
}

.restartGameWord {
    margin: 0.8% 0% 0% 38%;
}

.seeNamesWord {
    margin: 10% 5% 0%;
    font-size: 20px;
    text-align: center;
}

.scoresButton2 {
    /* margin: 1% 6%;
    width: 88%;
    height: 25px; */
    width: 88.5%;
    height: 5vh;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    position: absolute;
    margin: 1% 4.8% 1%;
    border-radius: 15px;
    color: fuchsia;
    cursor: pointer;
}

.scoresButton2:hover {
    width: 97%;
    margin: 0.5% 0.6% 0%;
}

.scoreWord2 {
    margin: 0.7% 0% 0% 39%;
}

.losingImage {
    margin: 10% 9.3% 3%;
}